html,body,a.button,input,textarea,select{font-family:Georgia,Tahoma,serif;background-color:#300;}
a.button,a.button:visited{background-color:#400;}
aside,aside>a.button,aside>a.button:visited{color:#e00;background-color:#400;}
aside>a.button:hover{color:#d00;background-color:#500;}
a.button:hover,::-webkit-scrollbar-thumb:vertical{background-color:#700;}
aside>a.button:active{color:#c00;background-color:#600;}
a.button:active,::-webkit-scrollbar{background-color:#800;}
a:visited{color:#600;}
a.button,td{border-color:#700;}
aside,aside>a.button{border-color:#700;}
html,body,input,textarea,select,a.button,a.button:visited{color:#b00;}
a.button:hover{color:#c00;}
a.button:active{color:#d00;}
a{color:#c00;}