*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}
html,body,aside{position:absolute;}
html,body,section,.textContent,#menu>p,#menu>a.button{width:100%;}
html,body,section,.textContent{height:100%;}
h1{font-size:200%;}
h2{font-size:150%;}
h3{font-size:125%;}
h4{font-size:100%;}
html,body,input,textarea,select{padding:0;}
html,body,a.button,input,textarea,select{margin:0;border:0;}
#menu,a.button{text-align:center;}
aside{font-size:12pt;font-weight:bold;padding:0.5em;border-width:5px;top:2em;}
td,a.button{border-style:solid;border-width:1px;}
td{width:3em;cursor:pointer;}
a.button{padding:1em;min-width:2.5em;text-decoration:none;display:inline-block;cursor:pointer;}
aside,aside>a.button{border-style:solid;margin-left:1em;margin-right:1em;}
section,section>*{float:left;}
section{clear:both;}
section>*{clear:left;}
.textContent{overflow-y:scroll;word-wrap:break-word;text-align:justify;padding-right:1em;}
#storage-details>*,section{display:none;}
::-webkit-scrollbar{width:5px;}
@media(min-width:320px){
.textContent,select,a.button{font-size:10pt;}
#infobar{font-size:8pt;}
#filename{width:275px;}}
@media(min-width:641px){
.textContent,select{font-size:14pt;}
#infobar{font-size:10pt;}
#filename{width:500px;font-size:24pt;}}
@media(min-width:1080px){
.textContent,select{font-size:18pt;}
#filename{font-size:30pt;}
section{padding-top:5em;padding-bottom:5em;padding-left:10em;padding-right:10em;}}
