html,body,input,textarea,select{font-family:"DejaVu Serif", "DejaVu Sans", Georgia,Tahoma,serif;}

html,body,header,input,textarea,#editor,a.button,a.button:visited{background-color:#000;}
aside,aside a.button,aside a.button:visited{background-color:#111;}
a.button:hover,.sentence{background-color:#222;}
aside a.button:hover{background-color:#333;}
a.button:active,.paragraph,::-webkit-scrollbar-thumb:vertical{background-color:#444;}
aside a.button:active{background-color:#555;}
::-webkit-scrollbar{background-color:#666;}

html,body,a.button,a.button:visited,input,textarea{color:#fff;}
a.button:hover{color:#eee;}
a.button:active{color:#ddd;}
aside a.button:active{color:#ccc;}
a:visited{color:#88f;}
a{color:#77f;}
aside a.button:hover{color:#bbb;}
aside,aside a.button,aside a.button:visited{color:#aaa;}