html,body,input,textarea,select{font-family:Helvetica, Arial, sans-serif;}

html,body,header,textarea,#chapter-name,#editor{background-color:#040310;}
a.button,a.button:active,a.button:visited{color:#040310;}

.note {background-color:#18171F;}

a.button,a.button:active,a.button:visited{background-color:#5B5A6C;}
a.button:hover{background-color:#57566C;}

html,body,a,a:visited,input,textarea{color:#756F5E;}
h1,h2,h3,h4,h5,h6{color:#756E59;}
