html,body,input,textarea,select{font-family:"DejaVu Serif", "DejaVu Sans", Georgia,Tahoma,serif;}

html,body,header,input,textarea,#editor,a.button,a.button:visited{background-color:#445;}
.note,.note a.button,.note a.button:visited{background-color:#554;}
a.button:hover,.sentence{background-color:#556;}
.note a.button:hover{background-color:#665;}
a.button:active,.paragraph,::-webkit-scrollbar-thumb:vertical{background-color:#667;}
.note a.button:active{background-color:#776;}
::-webkit-scrollbar{background-color:#778;}

a:visited{color:#886;}
html,body,a.button,a.button:visited,input,textarea{color:#aab;}
a.button:hover{color:#bbc;}
a.button:active{color:#ccd;}
.note a.button:active{color:#ddc;}
a{color:#eec;}
.note a.button:hover{color:#eed;}
.note,.note a.button,.note a.button:visited{color:#ffe;}