html,body,a.button,input,textarea,select{font-family:Georgia,Tahoma,serif;background-color:#454;}
a.button,a.button:visited{background-color:#565;}
aside,aside>a.button,aside>a.button:visited{color:#fef;background-color:#545;}
aside>a.button:hover{color:#ede;background-color:#656;}
a.button:hover,::-webkit-scrollbar-thumb:vertical{background-color:#676;}
aside>a.button:active{color:#dcd;background-color:#767;}
a.button:active,::-webkit-scrollbar{background-color:#787;}
a:visited{color:#868;}
a.button,td{border-color:#676;}
aside,aside>a.button{border-color:#878;}
html,body,input,textarea,select,a.button,a.button:visited{color:#aba;}
a.button:hover{color:#bcb;}
a.button:active{color:#cdc;}
a{color:#ece;}