html,body,input,textarea,select{font-family:Georgia,Tahoma,serif;}

html,body,input,textarea,#editor{background-color:#fff;}
aside,aside a.button,aside a.button:visited{background-color:#eee;}
a.button,a.button:visited,.sentence{background-color:#ddd;}
aside a.button:hover{background-color:#ccc;}
a.button:hover,.paragraph,::-webkit-scrollbar-thumb:vertical{background-color:#bbb;}
aside a.button:active{background-color:#aaa;}
a.button:active,::-webkit-scrollbar{background-color:#999;}

aside,aside a.button{border-color:#777;}

a:visited{color:#707;}
html,body,a.button,a.button:visited,input,textarea{color:#000;}
a.button:hover{color:#111;}
a.button:active{color:#222;}
aside a.button:active{color:#333;}
a{color:#007;}
aside a.button:hover{color:#444;}
aside,aside a.button,aside a.button:visited{color:#555;}