html,body,input,textarea,select{font-family:Helvetica, Arial, sans-serif;}

html,body,header,textarea,#chapter-name,#editor{background-color:#5D5561;}
a.button,a.button:active,a.button:visited{color:#5D5561;}
.note {background-color:#37124C;}

a.button,a.button:active,a.button:visited{background-color:#B1CEB1;}
a.button:hover{background-color:#90B490;}

html,body,a,a:visited,input,textarea{color:#EBE0CB;}
h1,h2,h3,h4,h5,h6{color:#E1D2B4;}
