html,body,input,textarea,select{font-family:"DejaVu Serif", "DejaVu Sans", Georgia,Tahoma,serif;}

html,body,header,input,textarea,#editor,a.button,a.button:visited{background-color:#050;}
aside,aside a.button,aside a.button:visited{background-color:#040;}
a.button:hover,.sentence{background-color:#060;}
aside a.button:hover{background-color:#050;}
a.button:active,.paragraph,::-webkit-scrollbar-thumb:vertical{background-color:#070;}
aside a.button:active{background-color:#060;}
::-webkit-scrollbar{background-color:#080;}

a:visited{color:#060;}
html,body,a.button,a.button:visited,input,textarea{color:#0b0;}
a.button:hover{color:#0c0;}
a.button:active{color:#0d0;}
aside a.button:active{color:#0c0;}
a{color:#0c0;}
aside a.button:hover{color:#0d0;}
aside,aside a.button,aside a.button:visited{color:#0e0;}